<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Site</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body { padding-top: 50px; }
    </style>
</head>
<body>

<div class="container">
    <form action="SetMode" method="POST">
        <input name="mode" type="radio" value="SGBDR" <%if(mode==='SGBDR' || mode==='Not connected'){%><%="checked"%><%}%>>SGBDR</br>
        <input name="mode" type="radio" value="NoSQL"<%if(mode==='NoSQL'){%>
        <%="checked"%>
        <%}%>>NoSQL</br>
        <input class="submit" type="submit" value="Submit">
    </form>
</div>
<div>
    <p>Connection state : <%= mode %></p>
</div>

<hr>
<div class='allRequest'>
    <div class="leftPart">
        <p> Select all d'une table</p>
        <form action="RequestSelect" method="POST">
            <input name="table" type="radio" value="Product">Product</br>
            <input name="table" type="radio" value="User">User</br>
            <input name="table" type="radio" value="Buy">Buy</br>
            <input name="table" type="radio" value="Link">Link</br>
            <input class="submit" type="submit" value="Submit">
        </form>
    </div>
    <div class="rightPart">
        <p>Time (s) : <%= time %></p>
        <div style="overflow:scroll; border:#000000 1px solid;">
            <%for(let i=0; i<requestResult.length; i++){%>
            <li><%=JSON.stringify(requestResult[i])%></li>
            <%}%>
        </div>
    </div>
</div>
<hr>
</body>
</html>
